<div class="card">
  <div class="image">
    <%= image_tag src='http://www.brandcrowd.com/gallery/brands/pictures/picture13396721537424.jpg'%>
  </div>
<div class="content">
  <div class="header">
    <%= course.title %>
  </div>
  <div class="meta">
    <%= course.grade.grade %>
  </div>
  <div class="description">
    <%= course.description %>
  </div>
</div>
<div class="extra content">
  <span class="right floated">
    <%= course.created_at.to_date %>
  </span>
  <span>
    <i class="user icon"></i>
    <%= course.teacher.name %>
  </span>
</div>
<div class="extra content">
  <div class="ui two buttons">
    <% if current_user %>
      <%= link_to 'View Course', course_path(course), class:"ui basic green button" %>
    <% else %>
      <%= link_to 'Login to View', login_path, class:"ui basic red button" %>
    <% end %>
  </div>
</div>
</div>
