<%= react_component 'DashboardSidebar', {current_tab: 'profile'} %>


    <div class='ui container'>
      <br>
      <br>
      <br>

      <div class='ui breadcrumb row'>
          <%= link_to 'Profile', teacher_dashboard_path(current_user), class:'section' %>
          <span class='divider'>/</span>
          <div class='active section'><%= @course.title.capitalize %></div>
      </div>
      <br>


      <div class='ui form'>
        <h4 class='ui dividing header'>Course Information</h4>
          <%= form_for @course, class:'loading', url:teacher_course_path(@course), html: { method: :put } do |f| %>
            <div class='field'>
              <label>Course Title</label>
              <%= f.text_field :title, placeholder: 'Title' %>
            </div>

            <div class='field'>
              <label>Course Description</label>
              <%= f.text_area :description, placeholder: 'Descrption', rows: '5' %>
            </div>

            <div class='field'>
              <label>Grade</label>
              <%= f.collection_select :grade_id, @grades, :id, :grade %>
            </div>

            <div class='field'>
              <label>Category</label>
              <%= f.collection_select :category_id, @categories, :id, :category %>
            </div>

            <div class='field'>
              <%= f.submit 'Save', class:'ui  green button' %>
            </div>
          <% end %>
        </div>
        <br>

        <h4 class='ui dividing header'> Lessons </h4>
        <table class="ui compact celled definition table">
          <thead>
            <tr>
              <th></th>
              <th>Lesson</th>
              <th>Uploaded Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @course.videos.each do |video| %>
              <tr>
                <td class="collapsing">
                  <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                  </div>
                </td>
                <td><%= video.title %></td>
                <td><%= video.created_at.to_date %></td>
                <td><%= link_to semantic_icon('edit'), edit_teacher_course_video_path(@course, video), class:'blue' %></td>
                <td><%= link_to semantic_icon('trash'), teacher_course_path(@course, video), class:'red', method: :delete %></td>
            <% end %>
          </tbody>
          <tfoot class="full-width">
            <tr>
              <th></th>
              <th colspan="4">
                <%= link_to semantic_icon('file')+'New Lesson', new_teacher_course_video_path(@course), class:'ui right floated small primary labeled icon button' %>
              </th>
            </tr>
          </tfoot>
        </table>
    </div>
