<br>
<div class='ui grid login_panel' >
  <div class='row course_header'>
    <div class='column'></div>
    <div class='ten wide column'>
      <h1><%= @course.title %></h1>
      <p> Created by: <%= @course.teacher.name %></p>
      <p> Updated at: <%= @course.updated_at.to_date %> </p>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
    </div>
    <div class='ten wide column'>
      <h1>Description</h1>
      <br>
      <p class='course_description'><%= @course.description %></p>
    </div>
  </div>

  <div class='row'>
    <div class='column'>
    </div>
    <div class='ten wide column'>
      <h1>Courses By <%= @course.teacher.name %></h1>
      <br>
      <div class='ui cards stackable three wide column'>
      <% @course.teacher.courses[0...6].each do |course| %>
      <% if course.status === true %>
        <%= render partial: 'partials/courseCard', locals: {course: course} %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="ui right internal rail course_thumb">
    <div class='four wide column'>
      <div class='ui card'>
        <div class="image">
            <%= image_tag src='http://www.brandcrowd.com/gallery/brands/pictures/picture13396721537424.jpg'%>
        </div>
        <div class="content">
          <div class="ui two buttons">
              <% if current_user %>
                <% if @course.videos.size > 0 %>
                <%= link_to 'Start', course_video_path(@course, @course.videos[0]), class:"ui green button" %>
                <% else %>
                  <%= link_to 'No Lessons', root_path, class:"ui red colored button" %>
                <% end %>
              <% else %>
                <%= link_to 'Login to View', login_path, class:"ui red button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
</div>
