<%= react_component 'DashboardSidebar', {current_tab: 'profile'} %>


    <div class='ui container'>
      <br>
      <br>
      <br>

      <div class='ui breadcrumb row'>
          <%= link_to 'Profile', teacher_dashboard_path(current_user), class:'section' %>
          <span class='divider'>/</span>
          <%= link_to @course.title, edit_teacher_course_path(@course), class:'section' %>
          <span class='divider'>/</span>
          <div class='active section'>New Lesson</div>
      </div>
      <br>
      <br>

      <div class='ui form'>
        <h4 class='ui dividing header'>Lesson Information</h4>
          <%= form_for @video,  url:teacher_course_videos_path(params[:course_id], @video), html: { method: :post } do |f| %>
            <div class='field'>
              <label>Lesson Title</label>
              <%= f.text_field :title %>
            </div>

            <div class='field'>
              <label>Lesson Description</label>
              <%= f.text_area :description , rows: '5'%>
            </div>

            <div class='field'>
              <label>Media</label>
              <%= f.hidden_field :video, value: @video.cached_video_data %>
              <%= f.file_field :video %>
            </div>

            <div class='field'>
              <%= f.submit 'Add Lesson', class:'ui right floated small green icon button' %>
            </div>
          <% end %>
          </div>
        </div>
