<%= react_component 'DashboardSidebar', {current_tab: 'profile'} %>


<div class='ui container'>
  <br>
  <br>
  <br>

    <div class='ui breadcrumb row'>
        <div class='active section'>Profile</div>
    </div>
    <br>
    <hr>
      <div class='ui form'>
      <%= form_for @user, url:teacher_dashboard_path, html: { method: :patch } do |f| %>
        <div class='field'>
          <label>Name</label>
          <%= f.text_field :name %>
        </div>

        <div class='field'>
          <label>Password (leave it blank if you do not want to change.)</label>
          <%= f.password_field :password , placeholder: '******' %>
        </div>

        <div class='field'>
          <label>Date of Birth</label>
          <%= f.date_field :dob %>
        </div>


        <%= f.submit 'Save', class:'ui right floated small green icon button' %>

        <% end %>
      </div>
  </div>
</div>
