<!DOCTYPE html>
<html>
  <head>
    <title>Project4</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="//releases.flowplayer.org/7.0.2/flowplayer.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    <link rel="stylesheet" href="//releases.flowplayer.org/7.0.2/skin/minimalist.css">

    <script src="//releases.flowplayer.org/7.0.2/flowplayer.min.js"></script>
    <link rel="stylesheet" href="//releases.flowplayer.org/7.0.2/skin/skin.css">
  </head>

  <body>
    <div class="ui menu">
    <%= link_to 'School', root_path , class:'item'%>
    <% if current_user && current_user.user_type != 'student' %>
    <% if current_user.user_type == 'admin' %>
      <%= link_to 'Dashboard', admin_users_path , class:'item'%>
      <% else %>
      <%= link_to 'Dashboard', teacher_dashboard_path , class:'item'%>
      <% end %>
    <% end %>
  <div class="right menu">
    <% if current_user %>
      <%= link_to 'Log Out', logout_path , class:'item', method: :delete%>
    <% else %>
        <%= link_to 'Login', login_path , class:'item'%>
    <% end %>
  </div>
</div>

    <%= yield %>




  <script>
  $(document).ready(function() {
  $('.ui.dropdown').dropdown();
});
</script>
  </body>
</html>
